<h1>Home</h1>
<p>
<button class ="btn-info">
<%= link_to "Teams", user_teams_path(current_user)%>  
</button>
</p>
<p>
<button class="btn-info">
  <%= link_to "Heroes", superheroes_path%>
</button>
</p>

</button>